*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #001122 !important;
    background-image: url(./img/layered-waves-haikei.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.h1{
    color: transparent !important;
    font-family: Century Gothic;
    font-size: 100px !important;
    background: rgb(0,102,255);
    background: linear-gradient(90deg, rgba(0,102,255,1) 27%, rgba(0,148,115,1) 71%);
    background-clip: text;
    background-size: 400%;
    -webkit-background-clip: text;
    animation: bg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.h4{
    color: white !important;
    font-family: Century Gothic;
}

.box{
    background-color: transparent;
    width: 350px;
    border-radius: 15px;
}

a:hover{
    color: rgba(0,148,115,1);
}

button{
    background: rgb(0,102,255);
    background: linear-gradient(90deg, rgba(0,102,255,1) 27%, rgba(0,148,115,1) 71%);
    background-size: 400%;
    border: transparent !important;
    font-family: Century Gothic !important;

}

button:hover{
    filter: grayscale(50%);
    animation: bg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bg {
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 100%;
    }
}
